<html data-theme="bumblebee">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=devide-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
</html>
  </head>
  <body>

 <section
    id="checkout-confirmation"
    class="px-4 pt-24 space-y-5 sm:px-6 sm:pt-32 xl:mx-auto xl:max-w-7xl lg:px-8"
  >
        <h1 class="text-3xl font-bold pb-16 text-center">Recebemos seu pedido e ele já está em avaliação!</h1>
        <h1 class="text-xl pb-16 text-center">Entraremos em contto com você para mais detalhes.</h1>

      <div class="flex justify-center pb-32">
        <a href="/">
            <button class="btn btn-outline w-full max-w-lg">Retornar a pagina inicial</button>
        </a>
      </div>

    </section>
  </body>
</html>
